<%- include('partials/header'); -%>

<header>
    <div class="crypto">
        <img src="/crypto.png" alt="">
    </div>
    <div class="headings">
        <h2>Main</h2>
        <h3>By Bohdan For Clients</h3>
        <a href="/crypto" class="btn">crypto</a> <!-- Додаємо посилання на сторінку з криптовалютами -->
        <a href="/exchange-rate" class="btn">currency</a> <!-- Додаємо посилання на сторінку з курсом долара -->
    </div>
</header>


<%- include('partials/footer'); -%>