body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.splash {
    position: relative;
    height: 100%;
}

.splash video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.form {
    margin-bottom: 20px;
}

label {
    margin-right: 5px;
}

input[type="number"] {
    width: 60px;
}

button {
    padding: 5px 10px;
    background-color: #004d00;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #008000;
}

#result {
    font-size: 24px;
    font-weight: bold;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
}

.footer p {
    margin: 5px 0;
    color: white;
}

.previous-requests {
    position: absolute;
    top: 180px;
    left: 85px;
    width: 200px;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
}
.tab-link {
    position: fixed; /* Зафиксировать элемент */
    top: -50px; /* Расположить сверху от верхней границы экрана */
    left: 0px; /* Расположить слева от левой границы экрана */
    z-index: 1000; /* Установить высокий z-index, чтобы элемент был поверх других */
    padding: 10px; /* Добавить отступы для текста */
    background-color: #ff003f; /* Цвет фона */
    color: #fff; /* Цвет текста */
    text-decoration: none; /* Убрать стандартное подчеркивание ссылки */
    border-radius: 5px; /* Скруглить углы */
}

.tab-link:hover {
    background-color: #800033; /* Изменить цвет фона при наведении */
}
